:root {
    --color-1: rgba(235, 0, 84, 1);
    --color-2: rgba(253, 146, 164, 1);
    --color-3: rgba(254, 215, 218, 1);
    --color-4: rgba(255, 97, 26, 1);
    --color-5: rgba(255, 174, 0, 1);
    --color-6: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

img {
    width: 100%;
    vertical-align: middle;
}




/* TIPOGRAFÍA */
h1 {
    text-align: center;
    font-family: "Barlow Condensed";
    font-style: bold;
    font-weight: 700;
    font-size: 10em;
    margin: 0;
    color: var(--color-4);
}

h2 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    margin: 0;
    color: var(--color-4);
    line-height: 1;
    padding-top: 0.2em;
}

h3 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    color: var(--color-4);
}

h5 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    color: var(--color-6);
}

/* NAVBAR */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    background-color:var(--color-6); 
    height: 75px; 
}

.navbar {
    border-radius: 25px 25px 0px 0px;
    border: 2px solid var(--color-4);
    margin-top: 0.5em;
    margin: 0.5em;
}

.navbar .nav-link {
    color: var(--color-4);
}

.navbar .nav-link.active {
    color: var(--color-5); 
}

.navbar .nav-link:hover {
    color: var(--color-5); 
}

#search-form {
    position: relative;
    display: flex;
    align-items: center;
}

#search-icon {
    z-index: 2; 
    background: none;
    border: none;
    cursor: pointer;
}

#search-input {
    position: absolute;
    right: 0;
    width: 0;
    transition: width 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-4);
    padding: 5px;
    outline: none;
    color: var(--color-5);
    opacity: 0;
    z-index: 1; 
}

#search-input.active {
    width: 200px; /* Ancho abierto */
    opacity: 1;
}

/* BANNER */


#banner{
    padding-top: 65px;
    min-height: 100vh;
    
}

.img-fluid {
    width: 100%;
    height: 75vh;
}


/* Palabras deslizantes */
.marquee {
    overflow: hidden;
    border-top: 1px solid var(--color-4);
    border-bottom: 1px solid var(--color-4);
    display: flex;
  }
  
  .marquee h3{
    white-space: nowrap;
    text-transform: uppercase
  }

  .second-marquee{
    margin-top: 2vh;
  }

  /* carrousel fotos */

  #Novedades{
    margin-left: 11vh;
    text-align: left;
  }

  #carrousel{
    padding-top: 1em;
  }

  .carousel-inner{
    position: relative;
    overflow: hidden;
    border-radius: 4vh;
    height: 100%;
  }

  #carousel-1{
    padding-top: 4vh;
    max-width: 90vw;
    height: 70vh;
    margin: auto;
  }

   /* controles del carrusel */
   .carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid var(--color-6); 
    background-color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10;
  }

  .carousel-control-prev {
    left: -23px; 
  }

  .carousel-control-next {
    right: -23px; 
  }

  .carousel-control-prev:hover, .carousel-control-next:hover {
    border-color: rgba(255, 255, 255, 0.8);
  }

  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 80%;
  }

  .custom-btn {
    border-radius: 25px;
    background-color: var(--color-6);
    color: var(--color-4); 
    padding: 8px 17px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .custom-btn:hover {
    background-color: var(--color-4);
    color: var(--color-6);
  }

  /* CATERORIAS */

  /* isotope */
  /* Contenedor de la cuadrícula */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

/* Elementos dentro de la cuadrícula */
.grid-item {
    background: var(--color-6);
    padding: 20px;
    text-align: center;
    border: px solid var(--color-6);
    transition: all 0.3s ease;
}

/* Filtros */
.card {
    display: flex;
    flex-direction: row; 
    margin-bottom: 3vh;
    border: 2px solid var(--color-4);
    height: 100%;
  }
  
  .card-img-left {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px 0px 0px 5px;
    /* margin-right: 15px;  */
  }
  
  .card-body {
    flex: 1; 
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-4);
    font-family:"Barlow Condensed" ;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }
  
  .boton1 {
    background-color: transparent;
    color: var(--color-4);
    border:2px solid var(--color-4);
    border-radius: 25px;
    padding: 8px 15px;
  }

  .boton2{
    background-color: var(--color-4);
    color: var(--color-6);
    border:none;
    border-radius: 25px;
    padding: 8px 15px;
  }
  
  .btn-primary:hover {
    background-color: var(--color-4);
    border:2px solid var(--color-4);
  }

  .boton2:hover {
    background-color: rgb(207, 79, 20);
    border:none;
  }

  .section-line {
    height: 1px; 
    background-color: var(--color-4); 
    margin-top: 20px; 
    width: 100%;
  }

  /* CHEF KISS */

  .profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  #subtitulo{
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--color-4);
    padding-top: 0.2em;
    padding-bottom: 1em;
    margin-left: 11vh;
    text-align: left;
  }

  .card2 {
    display: flex;
    flex-direction: column; 
    margin-bottom: 3vh;
    border: 2px solid var(--color-4);
    border-radius: 30px;
    height: 100%;
  }

  .estrellas{
    font-size: 1.5rem;
    display: inline-block;
  }

  .card-text2{
    padding: 2rem;
  }

  #link{
    font-weight: bolder;
    color: var(--color-4);
    text-decoration: underline;
  }

/* MEDIA QUERIES */
  @media (max-width: 576px) {
    #carousel-1 {
      height: 50vw; 
    }
  }

  @media (max-width: 576px) and (width: 768px) {
    #carousel-1 {
      height: 40vw; 
    }
  }

  @media (max-width: 768px) {
    #carousel-1 {
      height: 30vw; 
    }
  }

