:root {
    --color-1: rgba(235, 0, 84, 1);
    --color-2: rgba(253, 146, 164, 1);
    --color-3: rgba(254, 215, 218, 1);
    --color-4: rgba(255, 97, 26, 1);
    --color-6: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;  
}

/* img {
    width: 100%;
    vertical-align: middle;
} */

.container-fluid{
    --bs-gutter-x: 1rem !important;
}


/* TIPOGRAFÍA */
h1 {
    text-align: center;
    font-family: "Barlow Condensed";
    font-style: bold;
    font-weight: 700;
    font-size: 10em;
    margin: 0;
    color: var(--color-4);
}

h2 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    margin: 0;
    color: var(--color-4);
    line-height: 1;
    padding-top: 0.2em;
}

h3 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    color: var(--color-4);
}

h5 {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
    color: var(--color-6);
}

/* NAVBAR */
/* Navbar fijo y contenedor */
/* .navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-6);
  height: 75px;
  width: 100%;
  z-index: 999;
}

.navbar {
  z-index: 1000;
  border-radius: 25px 25px 0px 0px;
  border: 2px solid var(--color-4);
  margin: 0.5em;
}

.navbar .nav-link {
  color: var(--color-4);
}

.navbar .nav-link.active {
  color: var(--color-5);
}

.navbar .nav-link:hover {
  color: var(--color-5);
}

#search-form {
  position: relative;
  display: flex;
  align-items: center;
}

#search-input {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  opacity: 0;
  transform: translateY(-50%) scaleX(0);
  visibility: hidden;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-4);
  padding: 5px;
  outline: none;
  color: var(--color-5);
  transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

#search-input.active {
  width: 200px; 
  opacity: 1;
  transform: translateY(-50%) scaleX(1); 
  visibility: visible;
}

#search-icon {
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggler {
  border: 2px solid var(--color-4);
}

.navbar-toggler:hover {
  box-shadow: 0 4px 10px rgba(255, 157, 0, 0.412);
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.offcanvas {
  border-radius: 25px;
  border: 2px solid var(--color-4);
  height: 50%;
}

.offcanvas-header {
  background-color: var(--color-5);
  border: 2px solid var(--color-4);
  border-top: 0;
  border-radius: 25px 25px 0px 0px;
}

#offcanvasNavbarLabel {
  color: var(--color-4);
}

.offcanvas-body {
  border: 2px solid var(--color-4);
  border-top: 0;
  border-radius: 0px 0px 25px 25px;
}

.offcanvas .nav-link:hover {
  color: var(--color-5);
}

.offcanvas .nav-link.active {
  color: var(--color-5);
}

@media (max-width: 991px) {
  .navbar-nav {
    display: flex;
    justify-content: space-between;
  }

  #navbarNav {
    display: none;
  }

  .navbar .navbar-toggler {
    display: block;
  }

  .collapse.navbar-collapse {
    flex-grow: 0;
    display: block !important;
  }
} */

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-6);
  height: 75px;
  width: 100%;
  z-index: 999;
  padding: 0.5em;
}

#menu {
  z-index: 1000;
  border-radius: 25px 25px 0px 0px;
  border: 2px solid var(--color-4);
}

.logo {
  width: 50px; 
}

.search-icon {
  cursor: pointer;
  position: relative;
  z-index: 2; 
}

.search-bar {
  position: absolute;
    right: -200px; 
    top: 50%;
    transform: translateY(-50%);
    width: 0; 
    height: 40px; 
    display: none;  
    transition: width 0.5s ease, right 0.5s ease;
    z-index: 1; 
}

.search-bar.active {
  display: block;
  width: 200px;   
  right: 40px; 
}

.search-bar input {
  width: 100%;  
  height: 100%;
}

.search-bar.d-none {
  display: none;
}

@media (max-width: 991px) {
  .search-bar {
      width: 100%;  
  }
}

.offcanvas-end .search-bar-offcanvas {
  margin-top: 15px;
}




/* -------------------------------------------PAGINA PRINCIPAL (Irene) */

/* BANNER */


#banner{
    padding-top: 65px;
    min-height: 100vh;
}

.decoration{
    --bs-gutter-x: 2.5rem !important;
    border: 2px solid var(--color-4);
    border-top: 0px;
    border-radius: 0px 0px 25px 25px;
}

#img-home {
    width: 100%;
    height: 61vh;
}


/* Palabras deslizantes */
.marquee {
    overflow: hidden;
    border-top: 1px solid var(--color-4);
    border-bottom: none;
    display: flex;
  }
  
  .marquee h3{
    white-space: nowrap;
    text-transform: uppercase;

  }

  .second-marquee{
    margin-top: 2vh;
    border-bottom: 1px solid var(--color-4);
  }

  /* carrousel fotos */

  #Novedades{
    margin-left: 10vh;
    text-align: left;
  }

  #carrousel{
    padding-top: 5em;
  }

  .carousel-inner{
    position: relative;
    overflow: hidden;
    border-radius: 4vh;
    height: 100%;
  }

  #carousel-1{
    padding-top: 4vh;
    max-width: 90vw;
    height: 70vh;
    margin: auto;
  }

   /* controles del carrusel */
   .carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid var(--color-6); 
    background-color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10;
  }

  .carousel-control-prev {
    left: -23px; 
  }

  .carousel-control-next {
    right: -23px; 
  }

  .carousel-control-prev:hover, .carousel-control-next:hover {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  }

  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 80%;
  }

  .custom-btn {
    border-radius: 25px;
    background-color: var(--color-6);
    color: var(--color-4); 
    padding: 8px 17px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .custom-btn:hover {
    background-color: var(--color-4);
    color: var(--color-6);
  }

  /* CATERORIAS */

  #Categorias{
    padding-top: 11vh;
  }

  /* isotope */
  /* Contenedor de la cuadrícula */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

/* Elementos dentro de la cuadrícula */
.grid-item {
    background: var(--color-6);
    padding: 20px;
    text-align: center;
    border: px solid var(--color-6);
    transition: all 0.3s ease;
}

/* Filtros */
.card {
    display: flex;
    flex-direction: row; 
    margin-bottom: 3vh;
    border: 2px solid var(--color-4);
    height: 100%;
    position: relative;
    z-index: 0;
  }

.container1{
    position: relative;
    z-index: 100;
}

.container2{
    position: relative;
    z-index: 0;
}

  .card-img-left {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px 0px 0px 5px;
    /* margin-right: 15px;  */
  }
  
  .card-body {
    flex: 1; 
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-4);
    font-family:"Barlow Condensed" ;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }
  
  .boton1 {
    background-color: transparent;
    color: var(--color-4);
    border:2px solid var(--color-4);
    border-radius: 25px;
    padding: 8px 15px;
    position: relative;
  }
  .boton1 .dropdown-menu {
    position: absolute; 
    z-index: 9999;
  }

  .boton2{
    background-color: var(--color-4);
    color: var(--color-6);
    border:none;
    border-radius: 25px;
    padding: 8px 15px;
  }
  
  .btn-primary:hover {
    background-color: var(--color-4);
    border:2px solid var(--color-4);
  }

  .boton2:hover {
    background-color: rgb(207, 79, 20);
    border:none;
  }

  .section-line {
    height: 1px; 
    background-color: var(--color-4); 
    margin-top: 4rem; 
    width: 100%;
  }

  /* CHEF KISS */

  #Chefkiss{
    margin-bottom: 3rem;
    min-height: 100vh;
    width: 100%;
    padding-top: 8vh;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  #subtitulo{
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--color-4);
    padding-top: 0.2em;
    padding-bottom: 1em;
    margin-left: 11vh;
    text-align: left;
  }

  .card2 {
    display: flex;
    flex-direction: column; 
    margin-bottom: 3vh;
    border: 2px solid var(--color-4);
    border-radius: 30px;
    height: 100%;
    transition: box-shadow 0.3s ease; /* Suaviza la transición de la sombra */
  }
  
  .card2:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4); /* Sombra más grande al pasar el ratón */
  }

  .estrellas{
    font-size: 1.5rem;
    display: inline-block;
  }

  .card-text2{
    padding: 2rem;
  }

  #link{
    font-weight: bolder;
    color: var(--color-4);
    text-decoration: underline;
  }

  .card-title2{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-4);
    font-family:"Barlow Condensed" ;
    font-size: 2rem;
  }

  .container3{
    height: 100vh;
  }
 

/*----------------------------------------------------- PAGINA RESTAURANTE (Elena) */

/* PORTADA */
#portada {
    padding-top: 65px;
    height: 100vh;
}

#img-portada {
    object-fit: cover;
}

.background-image {
    max-height: 75vh;
    width: 100%;
}

/* BURBUJA */
.bubble {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    background-color: var(--color-4); 
    color: white;
    border-radius: 50%; 
    width: 60px;   
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; 
    z-index: 1000; 
}

.bubble:hover {
    background-color: var(--color-5); 
}


/* GALERÍA */
#galeria {
    margin-top: 0.5em;
    margin-bottom: 3.5em;
}

#galeria h2 {
    padding-bottom: 0.5em;
}

.image-wrapper {
    position: relative;
    margin: 0 0.5em;
    overflow: visible; 
    border-radius: 8px;
}

.image-wrapper img {
    height: 30em;
}

.overlay {
    position: absolute;
    bottom: -20px; 
    right: -20px;  
    background-color: var(--color-4);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.9); 
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 500;
}

.image-wrapper:hover .overlay {
    opacity: 1;
    transform: scale(1); 
}

/* CARACTERÍSTICAS RESTAURANTE */
#caract {
    padding-top: 2.5em;
}

.icon-wrapper img {
    height: 7em;
    width: auto;
}

/* INFO RESTAURANTE */
.btn-narrow {
    width: 200px;
    border-radius: 10px;
}

#info {
    padding: 3em;
    text-align: justify;
    border-radius: 30px;
    border: 2px solid var(--color-4);
    transition: box-shadow 0.3s ease; /* Suaviza la transición de la sombra */
}

#info:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4); /* Sombra más grande al pasar el ratón */
}

#info p {
    padding: 0 3em;
    padding-bottom: 1em;
}

#img-res {
    padding-left: 2em;
}

/* FOTO COMIDA */
.sticker {
    position: absolute;
    background-color:var(--color-4);
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--color-6);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 500;
}

/* PEGATINAS */
.sticker-1 { top: 10%; left: 15%; }
.sticker-2 { top: 50%; left: 10%; }
.sticker-3 { bottom: 20%; right: 20%; }
.sticker-4 { top: 20%; right: 10%; }


/*CARRUSEL*/
#carouselText {
    border: 2px solid var(--color-4);
    border-radius: 30px;
}

#carouselText .carousel-item {
    transition: transform 3s linear; /* Ajusta la duración para suavizar el cambio */
    padding-bottom: 1.5em;
}

/*edición botón*/
.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--color-4);
    --bs-btn-border-color: var(--color-4);
    --bs-btn-hover-color: var(--color-6);
    --bs-btn-hover-bg: var(--color-5);
    --bs-btn-hover-border-color: var(--color-4);
    --bs-btn-focus-shadow-rgb: var(--color-1);
    --bs-btn-active-color: var(--color-2);
    --bs-btn-active-bg: var(--color-3);
    --bs-btn-active-border-color: var(--color-1);
}

/* MODAL */
.custom-modal-padding {
    padding: 3rem;
}

.modal-content {
    background-color: var(--color-6); 
    border-radius: 25px; 
    border: 2px solid var(--color-4);
}

.modal-header {
    background-color: var(--color-6); 
    color: var(--color-4);
    border-bottom: 2px solid var(--color-4);
    border-radius: 25px 25px 0px 0px;
}

.modal-title {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Barlow Condensed";
    font-style: normal;
    color: var(--color-4);
}

.btn-close {
    color: white;
}

.btn-primary {
    background-color: var(--color-4); 
    border-color: var(--color-6);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Barlow Condensed";
    font-style: normal;
    margin-top: 0.7em;
}

.btn-primary:hover {
    background-color: var(--color-5);
    border-color: var(--color-6);
}

.form-label {
    color: var(--color-4); 
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
}

.form-control {
    border-radius: 10px; 
    border: 1px solid var(--color-4);
}

.form-control:focus {
    border-color: var(--color-5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* TRANSPORTE */
.icon-transporte img {
    height: 7em;
    width: auto;
}

.icon-transporte {
  padding: 2em 0;
}

#transporte h2 {
    padding-bottom: 0.5em;
    padding-top: 0;
}

#contact {
    padding-left: 4em;
}

/* MODAL TRANSPORTE */
#transporte-img img {
    height: 55em;
}

/* MAPA */
.map-section {
    height: 70vh; 
    overflow: hidden; 
    padding-bottom: 2.5em;
}

.map-iframe {
    height: 100%; 
    border-radius:25px;
}





/*------------------------------------------------------- FOOTER */
footer {
    background-color: var(--bs-white); 
    color: var(--color-4);
    padding: 20px 0;
    border-radius: 0px 0px 25px 25px;
    border: 2px solid var(--color-4);
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  
  .footer-nav a {
    color: var(--color-4);
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: var(--color-5);
  }
  
  .footer-description {
    font-size: 0.9rem;
    color: var(--color-4);
  }
  
  .footer-bottom {
    font-size: 0.8rem;
    color: var(--color-4);
    border-top: 1px solid var(--color-4);
    padding-top: 10px;
    text-align: center;
  }
  
  .nombres{
      height: 100% !important;
  }
  
  .footer-logo img{
      width: auto;
  }
  
  .margin{
      margin-top: 4rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }


  /* MEDIA QUERIES */

/* HOMEPAGE */

/* Para móviles (pantallas < 576px) */
@media (max-width: 576px) {
  #carousel-1 {
    height: 62vw;
  }
  #titulo {
      font-size: 4rem;
  }
  #Novedades {
      margin-left: 3vh;
  }
  .img-fluid {
      height: 73vh;
  }

  .carousel-caption {
      top: 43%;
  }

  .card-img-left {
      height: 170px;
  
  }

  #subtitulo {
      margin-left: 3vh;
  }

  .container3{
      height: 78rem;
  }

}
/* Para tabletas (pantallas entre 576px y 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  #carousel-1 {
    height: 46vw;
  }

  #titulo{
      font-size: 5rem;
  }

  .img-fluid {
      height: 73vh;
  }

  #Novedades {
    margin-left: 5vh;
  }

  .second-marquee {
    margin-top: 9vh;
  }
  .container3{
    height: 55rem;
  }
  #Categorias {
    padding-top: 6vh;
  }
  .card-img-left {
    height: 265px;

  }
  #subtitulo {
    margin-left: 5vh;
  }
}

/* RESTAURANTE */
@media (max-width: 1180px) {
  #titulo {
    font-size: 9em;
  }

  #portada {
    height: 95vh;
  }

  .sticker {
    padding: 3px 8px;
    font-size: 1.5em;
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 500;
  }

  .sticker-2 { 
    top: 60%; 
    left: 10%;
  }

  #carouselText .carousel-item h2 {
    font-size: 4em;
  }

  #transp-modal {
    max-width: 90%; 
    width: 90%;
}

  #transporte-img img {
    height: 45em;
  }
}

@media (max-width: 1170px) {
  #titulo {
    font-size: 8em;
  }

  #portada {
    height: 85vh;
  }
}

