.navbar {
    border-radius: 25px 25px 0px 0px;
    border: 2px solid #000000;
    margin-top: 0.5em;
    margin: 0.5em;
}

#search-form {
    position: relative;
    display: flex;
    align-items: center;
}

#search-icon {
    z-index: 2; 
    background: none;
    border: none;
    cursor: pointer;
}

#search-input {
    position: absolute;
    right: 0;
    width: 0;
    transition: width 0.3s ease;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--clr-light);
    padding: 5px;
    outline: none;
    color: var(--clr-light);
    opacity: 0;
    z-index: 1; 
}

#search-input.active {
    width: 200px; /* Ancho abierto */
    opacity: 1;
}

body {
    padding-top: 90px; 
}

#portada {
    height: 85vh;
}

.img-fluid {
    height: 80vh;
    width: 100%;
}





